@import "../../assets/colors";

.login {
	background-color: $grey;
	overflow-y: hidden;
  &-row {
    height: 100vh;
  }
	&-logo {
		width: 10.92rem;
		height: 2.92rem;
		margin: 10px;
		margin-right: auto;
	}
	&-form {
		margin: auto;
		display: flex;
		flex-direction: column;
	}
	&-footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 50px;
		&-link {
			font-family: Roboto-Medium;
			font-size: 14px;
			color: $dark-blue;
			letter-spacing: 0.15px;
			line-height: 20px;
			cursor: pointer;
		}
		tr {
			opacity: 0.2;
		}
	}
}
.hero {
	&-container {
		width: 50%;
	}
	&-logo {
		width: 100%;
		height: 100%;
	}
}
