@import "../../assets/colors";

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-blue;
	width: 103px;
  height: 32px;
  border-radius: 5px;
  margin: 15px auto;
  border: none;
  cursor: pointer;
  span {
		font-family: Roboto-Bold;
		font-size: 14px;
    color: $white;
		letter-spacing: 0.15px;
		line-height: 20px
  }
}
