@import "../../assets/colors";

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #EBEBEB;
	height: 57px;

	&-spinner {
		display: flex;
		flex-direction: row;
		margin-bottom: auto;
		margin-top: 5px;
		padding-right: 10px;
		align-items: center;

		span {
			font-family: Roboto-Medium;
			font-size: 12px;
			color: rgba(0,0,0,0.90);
			letter-spacing: 0.15px;
			line-height: 12px;
		}
	}
}