$white: #FFFFFF;
$grey: #F4F4F4;
$input-text: #FDFDFD;
$dark: #555555;
$dark-blue: #263A91;
$blue: #1770E6;
$black: #000000;
$table-header: #E5E5E5;
$pagination: #404040;
$red : #CC0000;
$light-grey: #FAFAFA;
$light: #c4c6cc;
$light-blue: #F2F7FA;
$primary-grey: #CCCCCC;
$primary-blue: #0070B5;
$secondary-blue: #F0F5F7;
$primary-black: #999999;
$primary-disable: #CECECE;
$secondary-grey: #DADADA;

